<!DOCTYPE html>
<html>
<head>
    <link rel="stylesheet" href="//netdna.bootstrapcdn.com/bootstrap/3.0.0-rc1/css/bootstrap.min.css">
</head>
<body style="background-color: #ecf0f1;color:#999;">

    <div class="container">
        <h1>When Should I leave?</h1>
        <div class="row">
            <div class="col-lg-6">
                <input id="flight-num" type="text" placeholder="Flight #" class="form-control">
                <input id="addr" type="text" placeholder="Starting Address" class="form-control">
            </div>
            <div class="col-lg-6">
                <div id="flight-status"></div>
            </div>
        </div>
        <button id="go" class="btn btn-primary">Watch this flight</button>
        <div id="map" style="height:500px;border:1px solid whitesmoke"></div>
    </div>
</body>

<script src="//maps.googleapis.com/maps/api/js?sensor=false"></script>
<script src="//ajax.googleapis.com/ajax/libs/jquery/1.8.3/jquery.min.js"></script>
<script src="vendor/underscore-min.js"></script>
<script src="vendor/backbone-min.js"></script>
<script src="vendor/moment.min.js"></script>
<script src="ready.js"></script>
<script src="map.js"></script>
<script src="flight.js"></script>
<script type="text/javascript" src="http://54.235.132.110/socket.io/socket.io.js"></script>
<script type="text/javascript">
    $(document).ready(function() { 
        var ready = new Ready();
    });
</script>
<script id="template-flight" type="text/template">
        <p class="text-info" style="font-weight:bold"><%=airline %> <%= flightNumber %> <% print(direction === 'Departure' ? ' to ' : ' from ') %> <%= airport %></p>
<table class="table">
  <tr>
      <td>Status: </td><td><%= status %>(estimated: <%= estimatedTime %>)</td>
  </tr>
  <tr>
      <td>Scheduled:</td> <td><%= scheduledDateTime %></td>
  </tr>
  <tr>
      <td>Travel Time Est:</td><td><%= travelTimeF %></td>
  </tr>
  <tr>
      <td>Leave In:</td><td><%= leaveInF %> (around <%= leaveAt %>)</td>
  </tr>
</table>
</script>
</html>

